<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gold.mappers.ProductMapper">
    <!-- 물품 추가 -->
    <insert id="addProduct" parameterType="com.gold.model.ProductVo">
        INSERT INTO PRODUCT (PRODUCT_NAME, BRAND_ID, PRODUCT_CODE, PRODUCT_DESC)
        VALUES(#{productName},#{brandID},#{productCode},#{productDesc});
    </insert>
    <!-- 물품 목록 -->
    <select id="productGetList" resultType="com.gold.model.ProductVo">
        SELECT * FROM PRODUCT
        <if test="keyword != null">
            WHERE PRODUCT_NAME LIKE CONCAT('%',#{keyword},'%')
        </if>
        ORDER BY PRODUCT_ID DESC
        LIMIT #{pageReset}, #{pageAmount}
    </select>
    <!-- 물품 갯수 -->
    <select id="productGetTotal" resultType="int">
        SELECT COUNT(*) FROM PRODUCT
        <if test="keyword != null">
            WHERE PRODUCT_NAME LIKE CONCAT('%',#{keyword},'%')
        </if>
    </select>
</mapper>