/* 내용 부분 크기 */
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    background-color: #FFAEC8;
}

.warp {
    width: 1080px;
    margin: auto;
}

/* 로그인 이름 영역 */
.title_area {
    padding: 20px 15px;
}

.title_area>span{
	font-size : 30px;
	font-weight: 900;
}

.boundary {
    width: 1019px;
    background-color: black;
    height: 5px;
    margin-bottom: 25px;
    float: center;
}

/* 버튼 및 입력 영역 */
.login_content {
    padding: 50px 150px;
	height: 350px;
	text-align: center;
}

/* 로그인 영역 */
.login_warp {
    height: 40%;
    padding: 15px;
    display: inline-block;
}

/* 로그인 실패시 경고글 */
.login_warning {
	color:red;
}

.input_box {
    width: 350px;
    margin: 15px 0;
    float: left;
}

.input {
    width: 300px;
    height: 30px;
    padding: 5px;
    margin: 5px;
}

.login_submit {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 20px;
    background-color: black;
    color: white;
    border: none;
    float: left;
}

/* 회원가입 영역 */
.account_warp {
    height: 40%;
    padding: 15px;
    display: inline-block;
}

.account_button {
    width: 200px;
    height : 50px;
    margin: 0 15px;
    background-color: black;
    color: white;
    border: none;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}