.header {
	top: 0;
	left: 0;
	right: 0;
	
	height: 160px;
	width: 100%;
	position: sticky;
	background: #FFFFFF;
}

.header1 {
	width: 1400px;
	margin: 10 auto;
}

header img {
	width: 400px;
}


#otherpage{
	float: right;
	margin: 10 auto;
}

.search_item {
	float: right;
	margin: 10 auto;
}


.menu {
	margin: 20 auto;
	width: 1400px;
	clear: both;
}

#login {
	float: right;
}