/* 내용 부분 크기 */
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.warp {
    width: 1080px;
}

/* 관리자 페이지 이름 영역 */
.title_area {
    padding: 20px 15px;
    background-color: #FFAEC8;
}

.title_area>span{
	font-size : 25px;
	font-weight: 900;
}

.boundary {
    width: 1019px;
    background-color: black;
    height: 3px;
}

.admin_navi_warp{
    width: 20%;
    height: 500px;
    float: left;
}

.admin_navi_warp li{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.admin_navi_warp li a{
    display: block;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}

.admin_navi_warp li a:link {color: black;}
.admin_navi_warp li a:visited {color: black;}
.admin_navi_warp li a:active {color: black;}
.admin_navi_warp li a:hover {color: black;}

.admin_list_selected{
    background-color: #c8c8c8;
}

.search_warp{
    height: 50px;
    float: right;
}

.search_btn{
    height: 30px;
    width: 80px;
}

#keyword{
    height: 30px;
    width: 230px;
}

.content_area {
    width: 80%;
    float: left;
    height: 750px;
}

.content_subject{
    font-size: 20px;
    font-weight: bolder;
    padding-left: 15px;
    background-color: #C46162;
    height: 60px;
    line-height: 60px;
    color: white;
}

.content_warp {
    height: 550px;
    padding: 20px 35px;
}

.brand_table {
    border: 1px solid #d3d8e1;
    text-align: center;
}

.brand_table td {
	padding: 10px 3px;
	border: 1px solid #e9ebf0;
	overflow: hidden;
}

.brand_table thread{
	background-color: #f8f9fd;
	font-weight: 600;
}

.brand_num {
    width: 80px;
}

.brand_name {
    width: 150px;
}

.brand_country {
    width: 120px;
}

.brand_year {
    width: 120px;
}

.brand_desc {
    width: 250px;
}

/* 페이지 버튼 인터페이스 */
.page_warp{
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page_warp a{
	color : black;
}

.page_content{
    list-style: none;
    display: inline-block;
}

.page_btn {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}

.next, .prev {
    border: 1px solid #ccc;
    padding: 0 10px;
}

.next a, .prev a {
    color: #ccc;
}

/* 현재 페이지 버튼 */
.active{
	border : 2px solid black;
	font-weight:400;
}

/* float 속성 해제 */
.clearfix{
    clear: both;
}