.swiper-container {
	height:600px;
	border:2px solid silver;
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
}

.swiper-slide {
	text-align:center;
	display:flex; 
	align-items:center; 
	justify-content:center; 
}

.swiper-slide img {
	box-shadow:0 0 5px #555;
	max-width:3000px;
}

.site_all{
	display: flex;
	align-items: center;
	justify-content: center;
}

.site {
	margin: 6px;
	height: 350px;
}

.site_main {
	font-weight: bold;
	font-family: 견고딕;
	font-size:20pt;
	margin-top:7px;
	margin-bottom:7px;
}
