/* 내용 부분 크기 */
.wrapper {
    background-color: #FFAEC8;
}

.wrap {
    width: 1080px;
    margin: auto;
}

.content_wrap {
    width: 1020px;
    height: 600px;
    line-height: 500px;
    text-align: center;
    display: inline-block;
}

.content_box>span{
    font-size: 20px;
    font-weight: 600;
}

.content_button {
    width: 100px;
    height : 30px;
    margin: 10 5px;
    background-color: black;
    color: white;
    border: none;
}